.footer {
    padding: 1rem 0;
    background-color: #12374a;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        @include breakpoint($mobile-width) {
            flex-wrap: wrap;
            gap: 0.7rem;
        }
    }

    &__copy {
        color: $color-white;

        @include breakpoint($mobile-width) {
            font-size: 1rem;
            width: 100%;
            order: 2;
            text-align: center;
        }
    
    }

    &__github {
        display: flex;
        align-items: center;

        &:hover {
            .footer__github-icon {
                fill: $color-white;
            }

            .footer__github-username {
                color: $color-white;
            }
        }
    }

    &__github-icon {
        width: 3.2rem;
        height: 3.2rem;
        margin-right: 1rem;
        transition: all 0.3s ease-in-out;

        @include breakpoint($mobile-width) {
            width: 2rem;
            height: 2rem;
        }
    }

    &__github-username {
        font-family: $Montserrat-Medium;
        color: $color-black;
        transition: all 0.3s ease-in-out;

        @include breakpoint($mobile-width) {
            font-size: 1.4rem;
        }
    }
}
