.logo {
    padding-top: 3rem;


    &__link {
        display: block;
        text-align: center;
        font-family: $Montserrat-Medium;
        font-size: 7rem;
        color: $color-celadon-blue;

        @include breakpoint($mobile-width) {
            font-size: 5rem;
        }
    }
}