@keyframes jumpingToScreen {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.66, 1, 1);
    }
    40% {
        transform: scale3d(1, 1.66, 1);
    }
    50% {
        transform: scale3d(1.53, 1.13, 1);
    }
    65% {
        transform: scale3d(1.26, 1.4, 1);
    }
    75% {
        transform: scale3d(1.4, 1.26, 1);
        color: $color-celadon-blue;
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes jumpingToScreenn {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.66, 1, 1);
    }
    40% {
        transform: scale3d(1, 1.66, 1);
    }
    50% {
        transform: scale3d(1.53, 1.13, 1);
    }
    65% {
        transform: scale3d(1.26, 1.4, 1);
    }
    75% {
        transform: scale3d(1.4, 1.26, 1);
        color: $color-celadon-blue;
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes anim {
    from {
        transform: rotate(0deg) translateX(100px);
    }

    to {
        transform: rotate(360deg) translateX(100px);
    }
}

@-webkit-keyframes anim {
    from {
        transform: rotate(0deg) translateX(100px);
    }

    to {
        transform: rotate(360deg) translateX(100px);
    }
}
