//https://www.color-name.com/ генератор названия цвета
$color-black: #000000;
$color-white: #ffffff;

/* $color-blue-bolt: #05aeff; */

$color-celadon-blue: #0175ad;
$color-tea-green: #d4ffb9;

$header-extra-large-width: 30rem;
$header-width: 23rem;
$header-width-mobile: 16rem;

$fonts-default:  BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol";

$Montserrat-Thin: "Montserrat-Thin", $fonts-default;
$Montserrat-ExtraLight: "Montserrat-ExtraLight", $fonts-default;
$Montserrat-Light: "Montserrat-Light", $fonts-default;
$Montserrat-Regular: "Montserrat-Regular", $fonts-default;
$Montserrat-Medium: "Montserrat-Medium", $fonts-default;
$Montserrat-SemiBold: "Montserrat-SemiBold", $fonts-default;
$Montserrat-Bold: "Montserrat-Bold", $fonts-default;
$Montserrat-ExtraBold: "Montserrat-ExtraBold", $fonts-default;
$Montserrat-Black: "Montserrat-Black", $fonts-default;




$Montserrat-ThinItalic: "Montserrat-ThinItalic", $fonts-default;
$Montserrat-ExtraLightItalic: "Montserrat-ExtraLightItalic", $fonts-default;
$Montserrat-LightItalic: "Montserrat-LightItalic", $fonts-default;
$Montserrat-RegularItalic: "Montserrat-RegularItalic", $fonts-default;
$Montserrat-MediumItalic: "Montserrat-MediumItalic", $fonts-default;
$Montserrat-SemiBoldItalic: "Montserrat-SemiBoldItalic", $fonts-default;
$Montserrat-BoldItalic: "Montserrat-BoldItalic", $fonts-default;
$Montserrat-ExtraBoldItalic: "Montserrat-ExtraBoldItalic", $fonts-default;
$Montserrat-BlackItalic: "Montserrat-BlackItalic", $fonts-default;


$container-width: 160rem;
$min-width: 32rem;


$notebook-width: 1366px;
$laptop-width: 1179px;
$tablet-width: 1024px;
$mobile-width: 767px;
$mobile-width-small: 375px;